:root {
  --blue: #1e90ff;
  --white: #ffffff; 
}

body {
    text-align: center;
    background-color: var(--blue);
  }

  div {
    margin-top: 15px;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
  }
  
  .section-style {
    margin-right: 25px;
    margin-left: 25px;
    background-color: var(--white);
  }

  